.playerBoard, .botBoard {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 2px;
  margin-bottom: 20px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: lightblue;
}

.ship {
  background-color: gray;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.name{
    display: flex;
    justify-content: center;
}
#bot{
margin-left: 20px;
}
.miss{
  background-color: yellow;
}
.hit{
  background-color: red;
}
.red{
  background-color: tomato;
  content: "x";}

.cell.hit,
.cell.miss,
.cell.red,
.cell.end {
    pointer-events: none;
}
